---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>Upcoming talks</h2>
{% for post in site.talks reversed %}
  {% if post.pubtype == 'upcoming' %}
      {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Past talks</h2>
{% for post in site.talks reversed %}
  {% if post.pubtype == 'past' %}
      {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}



